.DS_Store

ignored/*

Proof of Concept/.vs/
Proof of Concept/Release/*
Proof of Concept/Debug/*
Proof of Concept/Libraries Mac/*
Proof of Concept/Libraries Windows/*
Proof of Concept/Proof of Concept/Debug/*
Proof of Concept/Proof of Concept/Release/*
